.App {
  text-align: center;
  height: 600px;
}

.App-content {
  padding-top: 200px;
}

.App-title {
  font-family: 'cursive';
  font-size: 10rem;
  color: #A7E8BD;
  padding-bottom: 2rem;
}

.Home-title {
  font-family: 'cursive';
  font-size: 6rem;
  color: #A7E8BD;
  padding-bottom: 2rem;
  text-align: left;
  padding-left: 2rem;
}

.Home-img {
  border-radius: 50%;
  height: 7rem;
}

.Home-logo {
  height: 6rem;
  margin-right: 2rem;
  margin-top: 2rem;
}

.insta-button {
  border: 1px double grey;

}

.journalDiv {
  height: 20em;
  margin: 2em;
  /*background-image: url('Cactus_3.svg');*/
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #a4a2a1;
  border-radius: 3em;
  padding: 2em;
}

.journalCont {
  margin-left: 10em;
}

.a {
  color: inherit;
}

.insta-button:hover {
  animation: insta-button-buldger 1s forwards;
  background-color: white;
}

@keyframes insta-button-buldger {
  0% {
    font-size: 100%;
  }

  100% {
    font-size: 110%;
    background-color: pink;
    border-color: white;
  }
}

.Cactus-logo:hover {
  animation: Cactus-logo-spin infinite 3s linear;
}

@keyframes Cactus-logo-spin {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(25deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-25deg); }
  100% { transform: rotate(0deg); }
}
